<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Psoeng's blog</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendors/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->

  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />

</head>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendors/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>

<body class="sb-nav-fixed">

  <!-- Navigation -->
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
      <button class="btn btn-link btn-sm" id="sidebarToggle" href="#"><span class="navbar-toggler-icon"></span></button>
      
      <a class="navbar-brand" href="{{url_for('home')}}">Pseong's blog</a>
            <!-- Navbar Search-->
            <!--<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"></form>-->
      <div class="input-group">
          <input id="search" class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
          <div class="input-group-append">
              <button class="btn btn-secondary" type="button" onclick="search()"><i class="fas fa-search"></i></button>
          </div>
      </div>
    </div>
  </nav>

  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
          <div class="nav">
            <div class="sb-sidenav-menu-heading">About</div>
            <a class="nav-link" href="#">
              <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
              Contact
            </a>
            <div class="sb-sidenav-menu-heading">Category</div>
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
              <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
              Category
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav">
                  {% for key, value in category_list.items() %}
                  <a class="nav-link text-light d-flex justify-content-between align-items-center" href="{{ url_for('category', category_id=key) }}">
                    {{ key }}<span class="badge badge-warning rounded-pill">{{ value }}</span>
                  </a>
                  {% endfor %}
              </nav>
            </div>
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
              <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
              Pages
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                  Authentication
                  <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                  <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="#">Login</a>
                    <a class="nav-link" href="#">Register</a>
                    <a class="nav-link" href="#">Forgot Password</a>
                  </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                  Error
                  <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                    <nav class="sb-sidenav-menu-nested nav">
                      <a class="nav-link" href="#">401 Page</a>
                      <a class="nav-link" href="#">404 Page</a>
                      <a class="nav-link" href="#">500 Page</a>
                    </nav>
                </div>
              </nav>
            </div>
            <div class="sb-sidenav-menu-heading">아무거나 메뉴</div>
            <a class="nav-link" href="#">
              <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
              첫번째
            </a>
            <a class="nav-link" href="#">
              <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
              두번째
            </a>
            <a class="nav-link" href="#">
              <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
              세번째
            </a>
              <a class="nav-link" href="#">
              <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
              네번째
            </a>
            <div class="sb-sidenav-menu-heading">아무거나 메뉴2</div>
            <a class="nav-link" href="#">
              <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
              다섯번째
            </a>
            <a class="nav-link" href="#">
              <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
              여섯번째
            </a>
            <a class="nav-link" href="#">
              <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
              일곱번째
            </a>
            <a class="nav-link" href="#">
              <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
              여덟번째
            </a>
            <a class="nav-link" href="#">
              <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
              아홉번째
            </a>
            <div class="sb-sidenav-menu-heading">아무거나 메뉴3</div>
            <a class="nav-link" href="#">
              <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
              열번째
            </a>
            <a class="nav-link" href="#">
              <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
              열하나번째
            </a>
          </div>
        </div>
        <!--
        <div class="sb-sidenav-footer">
          <div class="small">Logged in as:</div>
          Start Bootstrap
        </div>-->
      </nav>
    </div>
    <div id="layoutSidenav_content">
      <main>
        <!-- Page Content -->
        <div class="container">
          {% block content %}
          {% endblock %}
        </div>
        <!-- Footer -->
        <footer class="py-5 bg-dark">
          <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
          </div>
        </footer>
      </main>
    </div>
  </div>

  <script>
  function search() {
    var searchtxt = document.getElementById("search").value;
    location.href="https://pseong.kr/search/"+searchtxt
  }
  </script>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>