{% extends 'base.html' %}
{% block script %}
<script id="dsq-count-scr" src="//termos-blog.disqus.com/count.js" async></script>
{% endblock %}
{% block content %}
<!-- Blog Entries Column -->
<div>

  <!-- Post List -->
  <h5 class='mt-4 text-center text-muted'>
  {% if category_id %}
    <a class='text-muted' href="{{ url_for('category', category_id=category_id) }}">{{ category_id }}</a>
  {% elif search_id %}
    {% if posts%}
    {{ '검색 : ' + search_id }}
    {% else %}
    {{ '검색 결과가 없습니다.' }}
    {% endif %}
  {% else %}{{ '전체 게시글' }}
  {% endif %}
  </h2>
  <hr>
  <!-- Blog Post -->
  {% for post in posts %}
  {% set soup = BeautifulSoup(markdown.markdown(post_list[post].content[0:600], extensions=['nl2br', 'fenced_code', 'tables'])|safe) %}
  <div class="card mb-2" onclick="this.style.backgroundColor='rgba(0,0,0,0.1)'; location.href=`{{ url_for('post', post_id=post) }}`">
    <div class="card-body d-flex flex-row">
      <div class="media-body">
        <table style="width:100%; height:100%;">
        <tr><td><p class="card-title title-ellipsis my-0" >{{ post_list[post]['title'] }}</p></td></tr>
        <tr><td><p class="card-text text-ellipsis text-muted my-0">{{ soup.get_text() }}</p></td></tr>
        <tr><td><p class="card-text small text-muted my-0">{{ post_list[post]['date'] }}</p></td></tr>
      </table>
      </div>
      <img class="card-post ml-2" src="{{url_for('static',filename='img/'+post_list[post]['img'])}}"  width="80" height="80">
    </div>
  </div>
  {% endfor %}
  <ul class="pagination justify-content-center mb-4">{{ pagination.links }}</ul>

</div>
{% endblock %}