{% extends 'base.html' %}
{% block script %}
<script id="dsq-count-scr" src="//termos-blog.disqus.com/count.js" async></script>
{% endblock %}
{% block content %}
<!-- Blog Entries Column -->
<div>

  <!-- Post List -->
  <h5 class='mt-4 text-center text-muted'>
  {% if category_id %}{{ category_id }}
  {% elif search_id %}
    {% if posts%}
    {{ '검색 : ' + search_id }}
    {% else %}
    {{ '검색 결과가 없습니다.' }}
    {% endif %}
  {% else %}{{ '전체 게시글' }}
  {% endif %}
  </h2>
  <hr>
  <!-- Blog Post -->
  {% for post in posts %}
  {% set soup = BeautifulSoup(markdown.markdown(post_list[post].content[0:600], extensions=['nl2br', 'fenced_code', 'tables'])|safe) %}
  <div class="card my-card mb-3">
    <div class="card-body d-flex flex-row">
      <div class="media-body">
        <table style="width:100%; height:100%;">
        <tr><td><h5 class="card-title my-0"><a class="text-dark" href="{{ url_for('post', post_id=post) }}">{{ post_list[post]['title'] }}</a></h5></td></tr>
        <tr><td><p class="card-text text-muted my-0 target">{{ soup.get_text() }}</p></td></tr>
        <tr><td><p class="card-text small text-muted my-0">{{ post_list[post]['date'] }}</p></td></tr>
      </table>
      </div>
      <img class="ml-2 post" src="{{url_for('static',filename='img/'+post_list[post]['img'])}}"  width="90" height="90">
    </div>
  </div>
  {% endfor %}
  <ul class="pagination justify-content-center mb-4">{{ pagination.links }}</ul>

</div>
{% endblock %}