{% extends 'base.html' %}
{% block content %}
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<!-- Post Content Column -->
<div>

  <!-- Category -->
  <h5 class="mt-4 text-center"><a class="mt-4 text-muted"
      href="{{ url_for('category', category_id=post['category']) }}">{{ post['category'] }}</a></h5>

  <!-- Title -->
  <h3 class="mt-3 text-center">{{ post['title'] }}</h3>
  
  <!-- Author -->
  <h5 class="mb-0"><a class="text-dark" href="#">{{ post['author']}}</a></h5>
  
  <!-- Date/Time -->
  <a class="text-muted">{{ post['date'] }}</a>

  <hr>

  <!-- Post Content -->
  {{ markdown.markdown(post.content, extensions=['nl2br', 'fenced_code', 'tables'])|safe }}
  <div class="d-flex justify-content-center my-4">
    <a class="mx-2 link" onclick="sendLinkKakao();" title="카카오톡으로 공유">
      <img src="{{url_for('static',filename='img/kakao.png')}}" width=36 alt="Kakaotalk">
    </a>
    <a class="mx-2 link" onclick="sendLinkNaver()" title="네이버로 공유">
      <img src="{{url_for('static',filename='img/naver.png')}}" width=36 alt="Naver">
    </a>
    <a class="mx-2 link" onclick="sendLinkFacebook()" title="페이스북으로 공유">
      <img src="{{url_for('static',filename='img/facebook.png')}}" width=36 alt="Facebook">
    </a>
    <a class="mx-2 link" onclick="sendLinkTwitter()" title="트위터로 공유">
      <img src="{{url_for('static',filename='img/twitter.png')}}" width=36 alt="Twitter">
    </a>
    <a class="mx-2 link" onclick="sendLinkKakaostory()" title="카카오스토리로 공유">
      <img src="{{url_for('static',filename='img/kakaostory.png')}}" width=36 alt="Kakaostory">
    </a>
    <a class="mx-2 link" onclick="copyLink();" title="링크 복사">
      <img src="{{url_for('static',filename='img/linkcopy.png')}}" width=36 alt="Cpylink">
    </a>
  </div>


  <div style="position: relative;">
    <div style="position: absolute; top: 0; left: 50%; transform:translate(-50%, 0%);">
        <div class="toast">
            <div class="toast-body">
                복사되었습니다.
            </div>
        </div>
    </div>
  </div>
  {% include 'disqus.html' %}
</div>
{% set soup = BeautifulSoup(markdown.markdown(post.content[0:600], extensions=['nl2br', 'fenced_code', 'tables'])|safe) %}

<script>
  /* 카카오스토리 공유 */
  function sendLinkKakaostory(){
    var url = encodeURIComponent('https://pseong.kr/post/{{ post_id }}');
    window.open('https://story.kakao.com/s/share?url=' +url,
    'kakaostorysharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes, height=400,width=600');
  }
  /* 트위터 공유 */
  function sendLinkTwitter(){
    var url = 'https://pseong.kr/post/{{ post_id }}';
    var text = "{{ post['title'] }}";
    window.open("https://twitter.com/intent/tweet?text="+text+"&url="+url,
    'twittersharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=680,width=500');
  }
  /* 페이스북 공유 */
  function sendLinkFacebook(){
    var url = encodeURIComponent('https://pseong.kr/post/{{ post_id }}');
    var title = encodeURIComponent("{{ post['title'] }}");
    window.open('https://www.facebook.com/sharer/sharer.php?u=' +url+'&t='+title, 
    'facebooksharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=680,width=500');
  }
  /* 링크복사 */
  function copyLink(){
    var dummy = document.createElement("textarea");
    document.body.appendChild(dummy);
    dummy.value = "https://pseong.kr/post/{{ post_id }}";
    dummy.select();
    document.execCommand("copy");
    document.body.removeChild(dummy);
    $(function() {
        $('.toast').toast('show');
    });
  }
  /* 카카오톡 공유*/
  Kakao.init('90109f360ea531e3481252cf5482d9ed');
  function sendLinkKakao(){
    Kakao.Link.sendDefault({
      objectType: 'feed',
      content: {
        title: "{{ post['title'] }}",
        description: "{{ post['title'] }}",
        imageUrl: "https://pseong.kr{{url_for('static',filename='img/'+post['img'])}}",
        link: {
          mobileWebUrl: 'https://pseong.kr/post/{{ post_id }}',
          webUrl: 'https://pseong.kr/post/{{ post_id }}'
        }
      },
      buttons: [       
        {
          title: '링크 열기',
          link: {
            mobileWebUrl: 'https://pseong.kr/post/{{ post_id }}',
            webUrl: 'https://pseong.kr/post/{{ post_id }}'
          }
        }
      ]
    }); 
  }
  /* 네이버 공유 */
  function sendLinkNaver() {
    var url = encodeURI(encodeURIComponent('https://pseong.kr/post/{{ post_id }}'));
    var title = encodeURI("{{ post['title'] }}");
    var shareURL = "https://share.naver.com/web/shareView.nhn?url=" + url + "&title=" + title;
    window.open(shareURL, 'naversharedialog', "menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=680,width=500");
  }
</script>
{% endblock %}