{% extends 'base.html' %}
{% block content %}
<!-- Post Content Column -->
<div>

  <!-- Category -->
  <h5 class="mt-4 text-center"><a class="mt-4 text-muted"
      href="{{ url_for('category', category_id=post['category']) }}">{{ post['category'] }}</a></h5>

  <!-- Title -->
  <h3 class="mt-4 text-center">{{ post['title'] }}</h3>
  
  <!-- Author -->
  <h5 class="mb-0"><a class="text-dark" href="#">{{ post['author']}}</a></h5>
  
  <!-- Date/Time -->
  <a class="text-muted">{{ post['date'] }}</a>

  <hr>

  <!-- Post Content -->
  {{ markdown.markdown(post.content, extensions=['nl2br', 'fenced_code', 'tables'])|safe }}

  {% include 'disqus.html' %}

</div>
{% endblock %}