{% extends 'base.html' %}
{% block content %}
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<!-- Post Content Column -->
<div>

  <!-- Category -->
  <h5 class="mt-4 text-center"><a class="mt-4 text-muted"
      href="{{ url_for('category', category_id=post['category']) }}">{{ post['category'] }}</a></h5>

  <!-- Title -->
  <h3 class="mt-3 text-center">{{ post['title'] }}</h3>
  
  <!-- Author -->
  <h5 class="mb-0"><a class="text-dark" href="#">{{ post['author']}}</a></h5>
  
  <!-- Date/Time -->
  <a class="text-muted">{{ post['date'] }}</a>

  <hr>

  <!-- Post Content -->
  {{ markdown.markdown(post.content, extensions=['nl2br', 'fenced_code', 'tables'])|safe }}
  <div class="d-flex justify-content-center my-3">
    <a class="mx-2" onclick="sendLinkKakao();" id="kakao-link-btn" title="카카오톡으로 공유">
      <img src="{{url_for('static',filename='images/kakao.png')}}" width=36 alt="Kakaotalk">
    </a>
    <a class="mx-2"onclick="sendLinkNaver()">
      <img src="{{url_for('static',filename='images/naver.png')}}">
    </a>
    <a class="mx-2" onclick="copyLink();" title="링크 복사">
      <img src="{{url_for('static',filename='images/linkcopy.png')}}" width=36>
    </a>
  </div>


  <div style="position: relative;">
    <div style="position: absolute; top: 0; left: 50%; transform:translate(-50%, 0%);">
        <div class="toast">
            <div class="toast-body">
                복사되었습니다.
            </div>
        </div>
    </div>
  </div>
  {% include 'disqus.html' %}
</div>
{% set soup = BeautifulSoup(markdown.markdown(post.content[0:600], extensions=['nl2br', 'fenced_code', 'tables'])|safe) %}

<script>
  /* 링크복사 */
  function copyLink(){
    var dummy = document.createElement("textarea");
    document.body.appendChild(dummy);
    dummy.value = "https://pseong.kr/post/{{ post_id }}";
    dummy.select();
    document.execCommand("copy");
    document.body.removeChild(dummy);
    $(function() {
        $('.toast').toast('show');
    });
  }
  /* 카카오톡 공유*/
  Kakao.init('90109f360ea531e3481252cf5482d9ed');
  function sendLinkKakao(){
    Kakao.Link.sendDefault({
      objectType: 'feed',
      content: {
        title: "{{ post['title'] }}",
        description: "{{ post['title'] }}",
        imageUrl: "https://pseong.kr{{url_for('static',filename='images/pic.png')}}",
        link: {
          mobileWebUrl: 'https://pseong.kr/post/{{ post_id }}',
          webUrl: 'https://pseong.kr/post/{{ post_id }}'
        }
      },
      buttons: [       
        {
          title: '링크 열기',
          link: {
            mobileWebUrl: 'https://pseong.kr/post/{{ post_id }}',
            webUrl: 'https://pseong.kr/post/{{ post_id }}'
          }
        }
      ]
    }); 
  }
  /* 네이버 공유 */
  function sendLinkNaver() {
    var url = encodeURI(encodeURIComponent('https://pseong.kr/post/{{ post_id }}'));
    var title = encodeURI("{{ post['title'] }}");
    var shareURL = "https://share.naver.com/web/shareView.nhn?url=" + url + "&title=" + title;
    window.open(shareURL, 'naversharedialog', "menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=680,width=500");
  }
</script>
{% endblock %}